<header id="header-3" class="header navik-header header-transparent header-shadow">
    <div class="container">

        <!-- NAVIGATION MENU -->
        <div class="navik-header-container">

            <!-- CALL BUTTON -->
            <div class="callusbtn"><a href="tel:123456789"><i class="fas fa-phone"></i></a></div>

            <!-- LOGO IMAGE -->
            <div class="logo" data-mobile-logo="../img/logo.png" data-sticky-logo="../img/logo.png">
                <a href="{{ base_url }}"><img src="../img/logo.png" alt="header-logo" /></a>
            </div>

            <!-- BURGER MENU -->
            <div class="burger-menu">
                <div class="line-menu line-half first-line"></div>
                <div class="line-menu"></div>
                <div class="line-menu line-half last-line"></div>
            </div>

            <!-- MAIN MENU -->
            <nav class="navik-menu menu-caret navik-yellow" style="float: left;">
                <ul class="top-list">

                    <li><a href="#">&nbsp;</a></li>
                    <li><a href="#">&nbsp;</a></li>
                    <li><a href="#">&nbsp;</a></li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    {% for item in menu %}
                    <li {% if loop.index==0 %}class="" {% endif %} {% if item.children|length>0 %} class="dropdown" {%
                        endif %}>
                        {% if item.children|length>0 %}
                        <a href="ashow_category.php?id={{ item.id }}" class="dropdown-toggle" data-toggle="dropdown"
                            role="button" aria-expanded="false">{{ item.label }}<span class="caret"></span></a>
                        {% else %}
                        <a
                            href="/{% if item.permalink!='' %}./category/{{ item.permalink }}{% else %}./category/{{ item.id }}{% endif %}">{{
                            item.label }}</a>
                        {% endif %}
                        {% if item.children|length>0 %}
                        <ul class="dropdown-menu" role="menu">
                            {% for sub in item.children %}
                            <li><a href="/{% if sub.permalink!='' %}./category/{{ sub.permalink }}{% else %}./category/{{ sub.id }}{% endif %}">{{
                                    sub.label }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}

                     <li class="">{% if username!='' %}
                        <a href="profile">{%trans%}You are logged in as &nbsp;{%endtrans%}{{username}}
                        </a>{% else %}
                        <li>
                            <a href="#">SIGN IN</a>
                            <ul>
                                <li><a href="{{base_url}}/login?profile=1">{%trans%}LOGIN{%endtrans%}</a></li>
                                <li><a href="{{base_url}}/register">REGISTERATION</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </li>
                    {% if username!='' %}
                    <li><a href="logout">
                        {%trans%}Logout{%endtrans%}
                        </a>
                    </li>
                    {% endif %}

                    <!-- BASKET ICON -->
                    <li class="basket-ico ico-30">
                        <a href="#">
                            <span class="ico-holder"><span class="flaticon-shopping-bag"></span> <em
                                    class="roundpoint">{{ res.products_count }}</em></span>
                        </a>
                    </li>

                </ul>
            </nav> <!-- END MAIN MENU -->

        </div> <!-- END NAVIGATION MENU -->

    </div> <!-- End container -->
</header>