{% extends 'main.html' %}
{% block slider %} {% include "layouts/slider.html" %} {% endblock %}
{% block content %}
<!-- {% include "css_js.html" %} -->
    {% if res==0 %}
    <div class="col-md-12">
    <h1>{%trans%}Your cart is empty{%endtrans%}</h1>
    <br><br>
    <a href="index.php" class="btn btn-lg btn-primary">{%trans%}Back{%endtrans%}</a>
    </div>
    {% endif %}
        <!-- CART PAGE
      ============================================= -->
      <section id="cart-1" class="wide-100 cart-page division">
        <div class="container">
          <!-- CART TABLE --> 
          <div class="row">
            <div class="col-md-12">
              <div class="cart-table mb-70">
                <table id="myTable">
                  <thead>
                      <tr>
                          <th scope="col">Product</th>
                          <th scope="col">Price</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Total</th>
                          <th scope="col">Delete</th>
                      </tr>
                   </thead>
                  <tbody>
                    {% set sum_tax=0 %}
                    {%for value in res.contents%}
                    {% set sum_tax=sum_tax+(value.sum_price*value.attributes.sys_tax/(value.attributes.sys_tax+1))%}
                    <!-- CART ITEM #1 -->
                      <tr>
                          <td data-label="Product" class="product-name">
                            <!-- Preview -->
                        <div class="cart-product-img"><img src="{{value.attributes.pic}}" alt="cart-preview"></div>
                        <!-- Description -->
                        <div class="cart-product-desc">
                              <h5 class="h5-sm">{{value.name}}</h5>
                              <p class="p-sm">{{value.description}}</p>
                            </div>
                          </td>
                          <td data-label="Price" class="product-price"><h5 class="h5-md">{{ value.price|number_format(2)}} EUR</h5></td>
                          <td data-label="Quantity" class="product-qty">
                            <input class="qty" type="number" min="1" max="20" value="{{ value.quantity }}" id="qty" disabled="disabled">
                          </td>
                          <td data-label="Total" class="product-price-total"><h5 class="h5-md">{{ value.quantity*value.price|number_format(2)}} EUR</h5></td>
                          <td data-label="Delete" class="td-trash"><i class="far fa-trash-alt"></i></td>
                      </tr>
                      {%endfor%}
                  </tbody>

                </table>
              </div>
            </div>
          </div>  <!-- END CART TABLE -->
          <!-- CART CHECKOUT -->    
          <div class="row">
            <!-- DISCOUNT COUPON -->
            <div class="col-lg-8">
              <div class="discount-coupon row pt-15">
                <!-- Form -->
                <div class="col-md-8 col-lg-7">
                  {%if coupon_error!=""%}
         <div class="alert alert-danger">{{coupon_error}}</div>
         {%endif%}
                  <form class="discount-form" action="add-coupon" method="POST">
                    {%if coupon_error==1%}
                      <div class="alert alert-danger" role="alert">
                        {%trans%}The entered coupon-code seems to be invalid or you already used this code before{%endtrans%}.
                      </div>
                     {%endif%}
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Coupon Code" id="discount-code" name="coupon" value="">               
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-salmon tra-salmon-hover">Apply Coupon</button>
                      </span>                   
                    </div>
                  </form> 
                </div>
               <!-- Button -->
           <!-- <div class="col-md-4 col-lg-5 text-right">
                  <a onClick="window.location.reload()" class="btn btn-md btn-salmon tra-salmon-hover">Update Cart</a>
                </div> -->
              </div>
            </div>
            <!-- CHECKOUT -->
            <div class="col-lg-4">
              <div class="cart-checkout bg-lightgrey">
                <!-- Title -->
                <h5 class="h5-lg">Cart Total</h5>
                <!-- Table -->
                <table>
                  <tbody>
                      <tr class="last-tr">
                          <td>Total</td>
                          <td> </td>
                          <td class="text-right">{{ cart.sum }}</td>
                      </tr>
                    </tbody>
                </table>
                <!-- Button -->
                <a href="your-data" class="btn btn-md btn-salmon tra-salmon-hover">Proceed To Checkout</a>
              </div>
            </div>  <!-- END CHECKOUT -->
          </div>    <!-- END CART CHECKOUT -->
        </div>     <!-- End container --> 
      </section>  <!-- END CART PAGE -->   
{% endblock %}

