{% for value in res.products %}

<!-- <div class="col-md-4 list-obj" data-price="{{ value.attributes.price.value }}"
    data-name="{{ value.attributes.name.value }}" style="min-height:430px;">
    <div class="product-column">
        <p align="center"><a class=""
                href="{% if value.permalink!='' %}{{ value.permalink }}{% else %}/{{ value.id }}{% endif %}"><img
                    src="{{ value.attributes.img1.value }}" height="300" align="center"></a></p>
    </div>
    <div class="product-name"><a class=""
            href="{% if value.permalink!='' %}{{ value.permalink }}{% else %}/{{ value.id }}{% endif %}">{{
            value.attributes.name.value }}</a></div>
    <div class="product-price">
        <a class=""
            href="{% if value.permalink!='' %}{{ value.permalink }}{% else %}/{{ value.id }}{% endif %}">{{value.attributes.price.value|number_format(2)}}
            EUR</a></div>
</div> -->

<div class="col-sm-6 col-lg-3">
    <div class="menu-6-item bg-white">

        <!-- IMAGE -->
        <div class="menu-6-img rel">
            <div class="hover-overlay">

                <!-- Image -->
                <img class="img-fluid" src="{{ value.attributes.img1.value }}" alt="menu-image" />

                <!-- Item Code -->
                <span class="item-code bg-tra-dark">Code: {{value.permalink}}</span>

                <!-- Zoom Icon -->
                <div class="menu-img-zoom ico-25">
                    <a href="{{ value.attributes.img1.value }}" class="image-link">
                        <span class="flaticon-zoom"></span>
                    </a>
                </div>

            </div>
        </div>

        <!-- TEXT -->
        <div class="menu-6-txt rel">

            <!-- Rating -->
            <!-- <div class="item-rating">
                <div class="stars-rating stars-lg">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div> -->

            <!-- Like Icon -->
            <div class="like-ico ico-25">
                <a href="#"><span class="flaticon-heart"></span></a>
            </div>

            <!-- Title -->
            <h5 class="h5-sm coffee-color">{{value.attributes.name.value }}</h5>

            <!-- Description -->
            <p class="grey-color">{{ value.description }}</p>

            <!-- Price -->
            <div class="menu-6-price bg-coffee">
                <h5 class="h5-xs yellow-color">{{value.attributes.price.value|number_format(2)}}EUR</h5>
            </div>

            <form method="post" action="add_to_cart">
            <!-- Add To Cart -->
                <div class="add-to-cart bg-yellow ico-10">
                    <!-- <a href="product-single.html"><span class="flaticon-shopping-bag"></span> Add to Cart</a> -->
                    <button type="submit" class="btn btn-sm">Add to Cart</button>
                </div>
                <input type="hidden" name="id_product" value="{{ value.id }}">
                <input type="hidden" name="quantity" value="1">
                <input type="hidden" name="pic" value="{{ value.attributes.img1.value }}">
                <input type="hidden" name="price" value="{{ value.attributes.price.value }}">
                <input type="hidden" name="name" value="{{ value.attributes.name.value }}">
                <input type="hidden" name="short_description" value="{{ value.attributes.short_description.value }}">
                <input type="hidden" name="size_txt" value="{{ value.attributes.size.value }}">
                <input type="hidden" name="color_txt" value="{{ value.attributes.color.value }}">
            </form>

        </div>

    </div>
</div>
{% endfor %}