{% extends "main.html" %}

{% block slider %}
<div id="blog-page" class="page-hero-section division" style="background-image: url(https://webhunt.sleekshop.net/srv/uploads/shopobject_images/12093318a40609ffbfee89afb1a455e6.jpg)">
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-10 offset-lg-1">
        <div class="hero-txt text-center white-color"> -->

          <!-- Breadcrumb -->
          <!-- <div id="breadcrumb">
            <div class="row">
              <div class="col">
                <div class="breadcrumb-nav">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="demo-1.html">Home</a></li>
                      <li class="breadcrumb-item"><a href="blog-listing.html">Blog</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Blog Post</li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div> -->

          <!-- Title -->
          <!-- <h2 class="h2-xl">Single Blog Post</h2>

        </div>
      </div> -->
    </div> <!-- End row -->
  </div> <!-- End container -->
</div> <!-- END PAGE HERO -->
{% endblock %}

{% block content %}
<!-- 
{% if res!=0 %}
{% for value in res.contents.byclass.teaser_pic %}
<div class="col-md-12"><img src="{{value.attributes.img.value}}" width="100%"><hr></div>
{%endfor%}
-->
<div class="mayalist col-md-12" id="mayalist" data-pageqty="9">
  <nav class="pagination-nav">
    <!-- <ul class="pagination">x
    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    {loop="$res.pages"}
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    {/loop}
    <li class=""><a href="#">2</a></li>
    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
  </ul>-->
  </nav>
  <div style="position:absolute;right:0px;top:10px;">
    <select class="sort-selector form-control">
      <option value="">Sortierung w&auml;hlen</option>
      <option value="price-asc">Preis aufsteigend</option>
      <option value="price-desc">Preis absteigend</option>
      <option value="name-asc">Name aufsteigend</option>
      <option value="name-desc">Name absteigend</option>
    </select>
  </div>



			<section id="gallery-2" class="gallery-section division">
				<div class="container">
					<div class="row">
            <!-- IMAGE #1 -->
            {% for value in res.products %}
					  	<div class="col-sm-6 col-lg-3">
					  		<div class="gallery-img">
						  		<a href="{{ value.attributes.img1.value }}" class="image-link">
									<div class="hover-overlay"> 
										<img class="img-fluid" src="{{ value.attributes.img1.value }}" alt="gallery-image" />			
										<div class="item-overlay"></div>

										<!-- Image Meta -->
										<div class="img-meta white-color">
											<h5 class="h5-xs">{{ value.name }}</h5>		
											<div class="txt-block-rating">
												<!-- <div class="stars-rating">
													<span>4.5</span>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star"></i>
													<i class="fas fa-star-half-alt"></i>
													<span>(23)</span>
												</div>		 -->
											</div>										 
										</div> 

									</div>
								</a>
							</div>
            </div>
            {% endfor %}
					</div>	  <!-- End row -->
				</div>	   <!-- End container -->
			</section>	<!-- END GALLERY-2 -->



</div>
{% else %}
<div class="col-md-12">Keine Produkte gefunden</div>
{% endif %}
{% endblock %}