{%extends "main.html"%}

{% block slider %}
<div id="blog-page" class="page-hero-section division" style="background-image: url(https://webhunt.sleekshop.net/srv/uploads/shopobject_images/12093318a40609ffbfee89afb1a455e6.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="hero-txt text-center white-color">

          <!-- Breadcrumb -->
          <!-- <div id="breadcrumb">
            <div class="row">
              <div class="col">
                <div class="breadcrumb-nav">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="demo-1.html">Home</a></li>
                      <li class="breadcrumb-item"><a href="blog-listing.html">Blog</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Blog Post</li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div> -->

          <!-- Title -->
          <!-- <h2 class="h2-xl">Single Blog Post</h2> -->

        </div>
      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</div> <!-- END PAGE HERO -->
{% endblock %}
{%block content%}
{% include "css_js.html" %}

<div class="container">
	<div class="child">
		<div class="row">
			<div class="col-md-12">
				<h1>{%trans%}Your password{%endtrans%}:</h1>
				<br><br>
				</div>
				<div class="col-md-8">
				{%if error_count>0%}
				 <div class="alert alert-danger" role="alert">
				        {{error}}
				      </div>
				{%endif%}
				{%if already_sent==1 and error_count==0%}
				 <div class="alert alert-success" role="alert">
				        {%trans%}New password saved{%endtrans%}
				      </div>
				{%endif%}
				<form method="POST" action="profile-password" class="form">
				<div class="form-group {$error.firstname}">
				<label>{%trans%}Current password{%endtrans%}*</label>
				<input type="password" name="passwd1" class="form-control">
				</div>
				<div class="form-group {$error.lastname}">
				<label>{%trans%}New password{%endtrans%}*</label>
				<input type="password" name="passwd2" class="form-control">
				</div>
				<div class="form-group">
				<label>{%trans%}Repeat new password{%endtrans%}*</label>
				<input type="password" name="passwd3" class="form-control">
				</div>
				<p align=""><input type="submit" class="btn  btn-primary" value="{%trans%}Save{%endtrans%}"></p>
				<input type="hidden" name="already_sent" value="1">
				</form>
				</div>
				<div class="col-md-4">
					{%include "profile_sidebar.html"%}
				</div>
		</div>
	</div>
</div>

{%endblock%}
