{%extends "main.html"%}
{% block slider %}
<div id="blog-page" class="page-hero-section division" style="background-image: url(https://webhunt.sleekshop.net/srv/uploads/shopobject_images/12093318a40609ffbfee89afb1a455e6.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="hero-txt text-center white-color">

          <!-- Breadcrumb -->
          <div id="breadcrumb">
            <div class="row">
              <div class="col">
                <div class="breadcrumb-nav">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <!-- <li class="breadcrumb-item"><a href="demo-1.html">Home</a></li>
                      <li class="breadcrumb-item"><a href="blog-listing.html">Blog</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Blog Post</li> -->
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>

          <!-- Title -->
          <!-- <h2 class="h2-xl">Single Blog Post</h2> -->

        </div>
      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</div> <!-- END PAGE HERO -->
{% endblock %}
{%block content%}
{% include "css_js.html" %}
<div class="container">
  <div class="child">
    <div class="row">
      <div class="col-md-12">
        <br><br>
        <h1>{%trans%}Your orders{%endtrans%}:</h1>
        <br><br>
        </div>
        <div class="col-md-8">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>{%trans%}Date{%endtrans%}</th>
                <th>{%trans%}Payment{%endtrans%}</th>
                <th>{%trans%}Delivery{%endtrans%}</th>
                <th>{%trans%}Status{%endtrans%}</th>
              </tr>
            </thead>
            <tbody>
            {% for value in res%}
              <tr>
                <td>{{value.order_number}}</td>
                <td>{{value.creation_date}}</td>
                <td>{{value.payment_state_label}}</td>
                <td>{{value.delivery_state_label}}</td>
                <td>{{value.order_state}}</td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
        {%include "profile_sidebar.html"%}
        </div>
    </div>
    
  </div>
</div>


{%endblock%}
